body {
    font-family: "DejaVu Serif", "Times New Roman", serif;
    font-size: 12pt;
    line-height: 1.6em;
    margin: 0;
    padding: 0;

    background: url("../gfx/header.png") center 30px no-repeat #111;
}

h1 {
    font-weight: normal;
    color: #333;
}

h2 {
    font-size: 16pt;
    margin-top: 2em;
    font-weight: normal;
    text-decoration: underline;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    color: #333;
}

a {
    color: #A11;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #333;
}

/* -------------------------------------------------- */

#_HEADER {
    width: 1300px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
}

#_HEADER_TEXT {
    text-align: center;
    color: #FFF;
    line-height: 120px;
    font-size: 40pt;
    text-shadow: #F00 0 0 50px;
}

/* --------------------------------------------------- */

#_NAV {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

ul._MENU {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul._MENU li {
    display: inline-block;
}

ul._MENU li a {
    display: block;
    padding: 6px 10px;
    text-shadow: 0 0 10px #333;
    font-weight: normal;
    -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

ul._MENU li a.current {
    color: #CCC;
    text-shadow: 0 0 5px #333;
}

ul._MENU li a:hover {
    text-shadow: 0 0 5px #F00;
    color: #C00;
    text-decoration: none;
}

#_CONTENT {
    width: 900px;
    margin: 0 auto;
    background: #FFF;
    position: relative;
    border: 1px solid #E5E5E5;
}

._CORNER {
    position: absolute;
    background: url("../gfx/strips.png") left top no-repeat;
    width: 90px;
    height: 90px;
    margin: -30px;
}

#_CORNER_TL {
    left: 0;
    top: 0;
    background-position: left top;
}

#_CORNER_TR {
    right: 0;
    top: 0;
    background-position: right top;
}

#_CORNER_BL {
    left: 0;
    bottom: 0;
    background-position: left bottom;
}

#_CORNER_BR {
    right: 0;
    bottom: 0;
    background-position: right bottom;
}

#_PAGE {
    padding: 40px;
}

#_FOOTER {
    text-align: center;
    margin-bottom: 20px;
}


/* --------------------------------------------- */

.index-logo {
    width: 200px;
    height: 200px;
    text-align: center;
    float: right;
    background: #EEE;
    border: 1px solid #DDD;
}

.index-logo img {
    margin: 10px;
}
