{% extends "base.html" %}

{% block title %}Contribute{% endblock %}

{% block content %}
    <h1>Contribute</h1>
    <h2>Why contribute?</h2>
    <p>
        The Ducttape Project is a free and open-source project developed by
        volunteers in their spare time. All those involved develop it for fun
        and learning, not for commercial prospects. As such, it needs
        contributors that are willing to invest their time and knowledge as
        well as abilities to move this project forward. Thus, if you want to
        help us, that would be awesome!
    </p>

    <h2>How to help?</h2>
    <p>
        If you are a programmer willing to help out, great! Please see below.
        Of course, programmers are very valuable people in a
        project of this nature but even if you can't program you can still
        try to download our files and see if they work on your system and
        give us feedback.
    </p>

    <h2>I'm a programmer, how to help?</h2>
    <p>
        Awesome! Check out <a href="https://github.com/ducttape/ducttape-engine/wiki/Contribute-as-programmer">this page</a> on the wiki
    </p>

{% endblock %}
