{% extends "base.html" %}

{% block title %}Contribute{% endblock %}

{% block content %}
    <h1>Contribute</h1>
    <h2>Why contribute?</h2>
    <p>
        The Ducttape Project is a free and open-source project developed by
        volunteers in their spare time. All those involved develop it for fun
        and learning, not for commercial prospects. As such, it needs
        contributors that are willing to invest their time and knowledge as
        well as abilities to move this project forward. Thus, if you want to
        help us, that would be awesome!
    </p>

    <h2>How to help?</h2>
    <p>
        If you are a programmer willing to help out, great! Please see below.
        Of course, even though programmers are very valuable people in a
        project of this nature but even if you can't program you can still
        try to download our files and see if they work on your system and
        give us feedback.
    </p>

    <h2>I'm a programmer, how to help?</h2>
    <p>
        We use Git for version control and we are hosted on
        <a href="http://www.github.com">Github</a>, a social coding platform
        that allows for very easy and quick collaboration. Here is a
        contribution guideline:
    </p>
    <ol>
        <li>
            Get Git for your platform and a Github account. If you are on a
            Linux-based operating system, you can easily get Git it from your
            pacakge manager. This should be similar on OSX. On Windows, you'll
            want to install msysgit.
        </li>
        <li>
            Have a look at the issues of one of our
            <a href="https://github.com/ducttape">projects</a>. They are tagged
            by difficulties "easy", "medium" and "hard". The difficulty is
            determined by how hard the implementation is estimated to be or by
            how stubborn a bug is in addition to required engine knowledge to
            solve the issue. If you are just starting out, take one of the easy
            issues and submit a comment that you are working on it. Hop onto
            <a href="{{ url_for('contact') }}">IRC</a> and ask us any questions
            you may have.
        </li>
        <li>
            Fork one of our repos on Github and clone your own fork using Git.
            You have full rights to make any modifications to your own fork and
            when you are done you can issue a "pull request" to us to merge
            your changes into the mainline branch.
            For example, if your Github name were foobar and you forked the
            ducttape-engine repo, you would use
            <code>git clone git@github.com:foobar/ducttape-engine.git</code>
            This will clone your fork to a new directory called after the repo
            name "ducttape-engine".
        </li>
        <li>
            In your clone, you should add a remote to the main repo by doing
            <code>git remote add upstream git://github.com/ducttape/ducttape-engine.git</code>
            You will now have two remote as <code>git remote</code> will show
            you: one called "origin" and one called "upstream". origin is your
            own fork on Github, upstream is the official repo on Github.
            A remote is a non-local git repo that you can pull code from.
            It is important to have a remote to the main development repo so
            you can follow new changes. If you want to pull in new changes
            from upstream to your current branch, simply type
            <code>git pull upstream master</code>. If you want to pull into
            another local branch than master, simply put its name there instead
            of master.
        </li>
        <li>
            Next, you should make a new branch. Your default branch is master
            and you shouldn't directly commit to it. Instead, you should only
            ever update master from the main development repo. So to make a new
            branch simply do <code>git branch new-cool-feature</code> which
            does the obvious, it creates a new branch called new-cool-feature
            as <code>git branch</code> will show you. To go into this branch,
            do <code>git checkout new-cool-feature</code>.
        </li>
        <li>
            This is the part where you will start hacking on the code. When you
            are done hacking, review your changes with <code>git status</code>
            and <code>git diff</code>. When you are happy with the changes, do
            <code>git add file/dir</code> to add a file or a dir to the index.
            The index or staging area is what you will be committing. To review
            your staged files, issue <code>git status</code> as this will tell
            you what you will be committing. When you are happy with that, do
            <code>git commit -m "Message of what you did"</code> which will
            commit your changes to the Git history.
        </li>
        <li>
            Now comes the collaboration part. As you will have noticed, your
            changes are not yet visible on your Github fork. You still need
            to push them. Use <code>git push origin/new-cool-feature new-cool-feature</code> which will push the local branch new-cool-feature to your
            own remote origin as the remote branch new-cool-feature. You can
            now see your changes on Github. If you are ready to discuss your
            changes, press the pull request button on Github while viewing
            your fork's new-cool-feature branch.
        </li>
        <li>
            We will then discuss your changes with you and probably suggest
            some changes and after a few commits we will merge your stuff.
            At this point, you will want to checkout your master branch again
            <code>git checkout master</code> and pull the new changes into it.
            <code>git pull</code>. Once your feature has been merged, you can
            safely delete the local and remote branches:
            <code>git push origin :new-cool-feature</code>
            <code>git branch -d new-cool-feature</code>
        </li>
        <li>
            Congratulations for having your changes merged and thanks
            for contributing!
        </li>
    </ol>

{% endblock %}
