{% extends "base.html" %}

{% block title %}Editor{% endblock %}

{% block content %}
    <h1>Editor</h1>
    <p>
        The Ducttape Editor is a planned project for the Ducttape Game Engine.
        Think of it as a cool IDE where you do half of the game creation with
        the mouse, and speed up the whole development process to speed of light.
        Cool story? Well, if only someone implemeted that editor.
    </p>
    <p>
        Development has not been started, but you can join the project
        and do it yourself!
    </p>

    <h2>Planned features</h2>
    <p>
        <ul>
            <li>We didn't really plan it yet. You will get your feature
            list exactly in this place. No need to look somewhere else :P</li>
        </ul>
    </p>
{% endblock %}
