{% extends "base.html" %}

{% block title %}Engine{% endblock %}

{% block content %}
    <h1>Engine</h1>
    <p>
        - write some cool text about what it is and what we want it to
        be here -
    </p>

    <h2>Goals</h2>
    <p>
        This is the list of goals the Ducttape Engine is made for, sorted
        by descending priority.

        <ol>
            <li>Compatibility</li>
            <li>Maintainability</li>
            <li>Usability</li>
            <li>Performance</li>
            <li>Feature richness</li>
            <li>Extensibility</li>
        </ol>
    </p>
{% endblock %}
