{% extends "base.html" %}

{% block title %}Tutorials{% endblock %}

{% block content %}
    <h1>Tutorials</h1>
    <p>
        We do not have any tutorials yet. If you have problems with the
        installation, read the
        <a href="https://github.com/ducttape/ducttape-engine/wiki/Getting-started" target="_blank">Getting Started</a>
        wiki page on github. For all other problems don't hesitate to
        <a href="{{ url_for('contact') }}">contact us</a>.
    </p>
    <p>
       Did you write a tutorial / blog entry / something else describing
       how to use any of our software?
       <a href="{{ url_for('contact') }}">Send us a hint</a> and we might
       publish it here.
    </p>
{% endblock %}
